<h1>Sign Up to Mile Marker</h1>

<form action="/users/signup" method="POST">
  <label for="username">Username:</label>
  <input type="text" name="username" id="username" required>

  <br><br>

  <label for="email">Email:</label>
  <input type="text" name="email" id="email" required>

  <br><br>

  <label for="run_goal">Run Goal:</label>
  <input type="text" name="run_goal" id="run_goal" required>

  <br><br>

  <label for="password">Password:</label>
  <input type="password" name="password" id="password" required> 

  <br><br>

  <input type="submit" value="Sign Up" id="Submit">
</form>
<br>
<p>Already a member? <a href="/users/login">Login</a>!</p>