<div class="wrapper">
  
  <div class="container">
    <h1 class="signup">Sign Up</h1>
    <h3 class="form-h3">Make your miles count.</h3>
    
    <form class="details signup" action="/users/signup" method="POST">
      <label for="username">Username:</label>
      <input type="text" name="username" id="username" required>

      <br><br>

      <label for="email">Email:</label>
      <input type="email" name="email" id="email" required>

      <br><br>

      <label for="run_goal">Run Goal (miles):</label>
      <input type="text" name="run_goal" id="run_goal" required>

      <br><br>

      <label for="password">Password:</label>
      <input type="password" name="password" id="password" required> 

      <br><br>
      <% if flash.has?(:message) %>
        <p class="flash"><%= flash[:message] %></p>
      <% end %>
      <input type="submit" value="Sign Up" id="Submit">
    </form>
  </div>

  <p class="alt-link">Already a member? <a href="/users/login">Login</a>.</p>
</div>