<h1>Add a new run</h1>
<h2>Good job! You're one step closer to your goal!</h2>

<form action="/runs/new" method="POST">
  <label for="distance">Distance (miles):</label>
  <input type="text" name="distance" id="distance">

  <br><br>

  <label for="time">Time (mins):</label>
  <input type="text" name="time" id="time">

  <br><br>

  <label for="shoes">Shoes:</label>
  <input type="text" name="shoes" id="shoes">

  <br><br>

  <label for="notes">Notes:</label><br>
  <textarea rows="5" cols="50" name="notes" id="notes"></textarea>

  <br><br>

  <label for="indoor_outdoor">Indoor / Outdoor:</label>
  <select name="indoor_outdoor">
    <option value="Indoor">Indoor</option>
    <option value="Outdoor">Outdoor</option>
  </select>

  <br><br>
  <input type="submit" value="Add Run" id="Submit">
</form>

