<style>
    body {
      background: #EEEEEE;
    }
</style>

<div class="container">
  <h1>Add a new run</h1>
  <h3 class="form-h3">Good job! You're one step closer to your goal!</h3>

  <form action="/runs" method="POST">
    <label for="distance">Distance (miles):</label>
    <input type="text" name="distance" id="distance" required>

    <br><br>

    <label for="time">Time (mins):</label>
    <input type="text" name="time" id="time" required>

    <br><br>

    <label for="shoes">Shoes:</label>
    <input type="text" name="shoes" id="shoes" required>

    <br><br>

    <label for="notes">Notes:</label>
    <textarea rows="5" cols="50" name="notes" id="notes"></textarea>

    <br><br>

    <label for="indoor_outdoor">Indoor / Outdoor:</label>
    <input type="text" name="indoor_outdoor" id="indoor_outdoor" required>

    <br><br>
    <input type="submit" value="Add Run" id="Submit">
  </form>
</div>
