<div class="container">
  <h1>Mile Marker</h1>
  <h2>Reaching your goal, one mile at a time.</h1>

  <form action="/users/login" method="POST"> 
    <label for="username">Username:</label>
    <input type="text" name="username" id="username">

    <br><br>

    <label for="password">Password:</label>
    <input type="password" name="password" id="password">

    <br><br>

    <input type="submit" value="Login" id="Submit">
  </form>

  <br>
  <p>Not marking your miles? <a href="/users/signup">Sign-up!</a></p>


</div>
