<div class="wrapper">
  <img id="mm-logo" src="/images/shoe.png" alt="Mile Marker Logo">
  <h1>Mile Marker</h1>
  <h2>One mile at a time.</h2>
  <form class="details" action="/users/login" method="POST"> 
    <label for="username">Username:</label>
    <input type="text" name="username" id="username" required>

    <br><br>

    <label for="password">Password:</label>
    <input type="password" name="password" id="password" required>

    <br><br>
    <% if flash.has?(:message) %>
      <p class="flash"><%= flash[:message] %></p>
    <% end %>
    <input type="submit" value="Login" id="Submit">
  </form>

  <p class="alt-link">Not marking your miles? <a href="/users/signup">Sign Up.</a></p>
</div>
