<div class="wrapper">
  <div class="main-title">
    <img id="mm-logo" src="/images/shoe.png" alt="Mile Marker Logo">
    <h1>Mile Marker</h1>
    <h3>One mile at a time.</h3>
  </div>
  <form action="/users/login" method="POST"> 
    <label for="username">Username:</label>
    <input type="text" name="username" id="username" required>

    <br><br>

    <label for="password">Password:</label>
    <input type="password" name="password" id="password" required>

    <br><br>
    <% if flash.has?(:message) %>
      <p style="color: #FF785D; font-weight: 500;"><%= flash[:message] %></p>
    <% end %>
    <input type="submit" value="Login" id="Submit">
  </form>

  <br>
  <p>Not marking your miles? <a href="/users/signup">Sign Up.</a></p>

</div>
